target/
*.iml
*.class
*.jar

### Configuration files ###
application.properties
application.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

#### ORS Related ###
ors-docker/

## Env files ##
.env

## Python Files ##
.pyc