server.port=8080

spring.neo4j.uri=bolt://localhost:7687
spring.neo4j.authentication.username=neo4j
spring.neo4j.authentication.password=develop-colombo-clara-sponsor-erosion-6500

spring.data.neo4j.database=neo4j

logging.level.org.springframework.data.neo4j.cypher=trace

openrouteservice.apikey=
openrouteservice.host=https://api.openrouteservice.org
openrouteservice.apiversion=v2
openrouteservice.ratelimit=40
